
.seat-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    
  }

  .seat-box {
    width: 100px; 
    height: 100px; 
    border: 2px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer; 
  }
  .booked {
    background-color: red; 
    color: white; 
  }
  .available {
    background-color: green; 
    color: white; 
  }
  .firstclass{
    background-color: green;
  }
  .businessclass{
    background-color:yellow;
  }
  .economyclass{
    background-color:orange;
  }

  a{
    text-decoration: none;
  }
  