body{
  margin:0;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar a:hover {
    color: #333;
  }
  
.profileContainer {
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  height: 100vh;
}


.contentWrapper {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}
.contentWrapper aside {
  width:20%;
}
.contentWrapper div{
  width:80%;
}

