.signup-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form input {
    width: 90%;
    padding: 10px;
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form input:focus,
  .signup-form button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }
  